.sticker_wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

.sticker_wrapper .sticker_item {
	width: 300px;
	height: 300px;
	position: relative;
	transition: opacity ease-in-out .5s;
}

.sticker_wrapper .sticker_item img ,.sticker_wrapper .sticker_item canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.sticker_wrapper .sticker_item .sticker_static {
	opacity: 1;
}

.sticker_wrapper .sticker_item .sticker_animation_template {
	display: none;
}

.sticker_wrapper .sticker_item.off {
	opacity: 0.4;
}

.sticker_wrapper .sticker_item.on .sticker_static {
	opacity: 0;	
}
